<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<script>
const data = <%-JSON.stringify(taskData)%>;
 window.onload = () => {
     document.getElementById("tableData").innerHTML =  data;
 }

 function remove_elem(id) {
   alert(id)
 }
</script>

<body>  
    <table class="table table-bordered", id="table">
    <thead>
      <tr>
        <th>Task</th>
        <th>Date Started</th>
        <th>Complete Goal Date</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody id="tableData"></tbody>
  </table>
  <form action="/new">
    <input type="submit" value="New Task"></input>
  </form>
</body>
</html>